<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Pogoda dla danego miasta</title>-->
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container" style="margin: 100px auto; max-width: 1000px; width: 100%">-->
<!--  <h1>Aktualna pogoda</h1>-->
<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <td>Temperatura</td>-->
<!--      <td>Min</td>-->
<!--      <td>Max</td>-->
<!--    </tr>-->

<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:object="${weatherDto}">-->
<!--      <td th:text="${weatherDto.temperature}">°C</td>-->
<!--      <td th:text="${weatherDto.minTemperature}">°C</td>-->
<!--      <td th:text="${weatherDto.maxTemperature}">°C</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->